/* ---------- Site Title ---------- */
main {
    .site-title {
        background: url('../assets/Background-image.png');
        background-size: cover;
        height: 110vh;
        display: flex;
        justify-content: center;
        .site-background {
            padding-top: 10rem;
            text-align: center;
            color: var(--white);
        }

        h1, h4 {
            margin: .3rem;
        }

        .btn {
            margin: 1.8rem;
            background: var(--sky);
            &:hover {
                background: transparent;
                border: 1px solid var(--white);
                color: var(--white);
            }
        }
    }
}
/* -----x----- Site Title -----x----- */
